{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Список пользователей</h2>

    <!-- Форма поиска -->
    <form method="get" action="{% url 'admin_homepage' %}">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="search" placeholder="Поиск пользователей" value="{{ request.GET.search }}">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </div>
    </form>

    <!-- Вывод информации о текущем пользователе -->
    <p>Вы вошли как: {{ current_user.last_name }} {{ current_user.first_name }}</p>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Email</th>
                <th>Дата регистрации</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.patronymic }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.date_joined }}</td>
                <td>
                    <a href="{% url 'user_edit' user.pk %}" class="btn btn-primary">Редактировать</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; начало</a>
                <a href="?page={{ page_obj.previous_page_number }}">назад</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">вперед</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">конец &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
{% endblock %}