{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h2>Список пользователей</h2>

    <!-- Форма поиска -->
    <form method="get" action="{% url 'admin_homepage' %}">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="search" placeholder="Поиск пользователей" value="{{ request.GET.search }}">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </div>
    </form>

    <!-- Вывод информации о текущем пользователе -->
    <p>Вы вошли как: {{ current_user.last_name }} {{ current_user.first_name }}</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Email</th>
                <th>Дата регистрации</th>
                <th>Заблокирован</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.patronymic }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.date_joined }}</td>
                    <td>
                        {% if not user.is_active %}
                            Да
                        {% else %}
                            Нет
                        {% endif %}
                    </td>
                    <td>
                        {% if not user.is_active %}
                            <a href="#" class="btn btn-success btn-action" data-action="unban" data-user-id="{{ user.id }}">Разблокировать</a>
                        {% else %}
                            <a href="#" class="btn btn-danger btn-action" data-action="ban" data-user-id="{{ user.id }}">Заблокировать</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; начало</a>
                <a href="?page={{ page_obj.previous_page_number }}">назад</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">вперед</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">конец &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</div>


<script src="{% static 'rest_framework/js/jquery-3.7.1.min.js' %}"></script>


<script>
$(document).ready(function() {
    $('.btn-action').on('click', function(event) {
        event.preventDefault();

        var userId = $(this).data('user-id');
        var action = $(this).data('action');
        var url = '/api/user/users/' + userId + '/' + action + '/';
        var self = $(this); // Сохраняем ссылку на текущую кнопку

        $.ajax({
            url: url,
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json',
            },
            data: JSON.stringify({}),
            success: function() {
                if (action === 'unban') {
                    self.removeClass('btn-success').addClass('btn-danger').text('Заблокировать');
                    self.data('action', 'ban');
                } else {
                    self.removeClass('btn-danger').addClass('btn-success').text('Разблокировать');
                    self.data('action', 'unban');
                }
            },
            error: function(xhr, status, error) {
                console.error('Ошибка:', status, error);
            },
        });
    });
});
</script>
{% endblock %}