# Python
*.pyc
*~
__pycache__

# Env
backend/.env
.env.docker
myvenv/
venv/

# Database
db.sqlite3

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace

migrations/
migration/
.idea
.idea/*
media/

# docker postgres dev
docker/dev-db/postgres/pgdata
docker/dev-db/postgres/2.\ Init\ Database

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
