.custom-nav-link {
    font-family: "Roboto Black";
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: #4178bf;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    max-width: 200px ;
    text-align: center;
    font-size:17px;
}

.custom-nav-link:hover {
    background-color: #f2b29b;
    color:white;
}

.custom-nav-toggle{
    background-color: #4178bf;
    border: 1px solid white;
}

.custom-container{
    justify-content: center;
}


.test-item{
    background-color: #4178bf;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    color:white;  
}

.exercise-item{
    background-color:#f2b29b;
    width: 100%;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    color:white;    
}


.test-button{
    border:none;
    background: none;
}


/*мобильные устройства в портретном режиме*/
@media (max-width: 575.98px) {
    .test-item{
        text-align: left;
        padding: 20px;
        margin: 2px;
    }
    .test-title{
        font-size: 30px;
    }
  }
  /*мобильные устроства в альболмном режиме*/
  @media ((min-width:576px) and (max-width: 767.98px)) {
  
    .color,
    .color-2 {
      height: auto;
      padding: 20px;
    }
    .home-list {
      font-size: 20px;
    }
  
    .img-style {
      transform: scale(4);
      left: -200px;
      top: 550px;
  
    }
  
    .half-size {
      width: 100%;
    }
  
    .textarea,
    .area-1 {
      width: 100%;
    }
  
    .input-answer {
      width: 80px;
    }
  
    .white-text {
      font-size: 30px;
    }
  }
  
  /*планшеты и всякое говно фром чайна*/
  @media ((min-width:768px) and (max-width: 991.98px)) {
    .img-style {
      transform: scale(2);
    }
    .home-list {
      font-size: 20px;
    }
    .white-text{
      font-size: 26px;
    }
  }
  
  /*cumпьютеры и noтбуки*/
  @media ((min-width:992px) and (max-width: 1199.98px)) {
    .img-style {
      transform: scale(1.41);
    }
    .home-list {
      font-size: 20px;
    }
    .white-text{
      font-size: 26px;
    }
  }
  
  /*бальшой кампьютер с кучей игр*/
  @media (min-width:1200px) {
    .img-style {
      transform: scale(1.1);
    }
    .home-list {
      font-size: 20px;
    }
    .white-text{
      font-size: 26px;
    }
  }